<div class="geral">
<div class="titulo">
    <h1>COLEÇÃO</h1>
  </div>

  <div class="user-list">
    <div *ngFor="let client of clients" class="user-card">
      <h2>{{ client.name }}</h2>
      <p><strong>Email:</strong> {{ client.email }}</p>
      <p><strong>Telefone:</strong> {{ client.phone }}</p>
      <p><strong>Cidade:</strong> {{ client.city }}</p>
      <p><strong>Empresa:</strong> {{ client.company }}</p>
      <hr />
    </div>
  </div>
    <button class="voltar" (click)="goToHome()">Voltar</button>
</div>