.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #ff7b00;
 }

 .container {
    background-color: #ececec;
 }